.header__logo-item .burger--logo {
  display: none;
}

.header__top--discover{
  position: sticky;
  z-index: 1;
}

.header__discover {
  position: relative;
  margin-bottom: 80px;
}

.header__discover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 792px;
  background-image: linear-gradient(to bottom, rgba(28, 28,40, 0.4), rgba(28, 28, 40, 0.9)), url(../images/decor/grid.svg);
  z-index: 0;
}

.main__discover {
  position: relative;
  z-index: 0;
}


.discover__heading {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.discover-title {
  font-family: Circular Std Bold;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -1.32px;
  padding-bottom: 24px;
}

.heading__subtitle-discover {
  font-family: Circular Std Book;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.252px;
  color: $color-content;
  padding-bottom: 24px;
  display: inline-block;
  width: 808px;
}



.discover__filter-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.discover__filter-item {
  margin-right: 24px;
}

.discover__filter-item:last-child {
  margin-right: 0px;
}

.discover__filter-btn {
  font-family: Circular Std Medium;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.176px;
  color: $color-title;
  border-radius: 7.29px;
  padding: 12px 16px 12px 16px;
  background: none;
}

.discover__filter-btn--active {
  background:#393953;
}

.discover__list {
  display: grid;
  justify-content: space-around;
  gap: 24px;
}

.discover__list-item {
  display: block;
  max-width: 808px;
  border-radius: 16px;
  border: 1px;
  background: #393953;
}

.discover__link-content {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  padding: 24px 24px 24px 24px;
  column-gap: 32px;
  justify-items: end;
}

.discover__link-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;

}
.discover__slide-title {
  font-family: Circular Std Bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.456px;
  color: $color-title;
}

.discover__slide-info {
  display: block;
  width: 643px;
  font-family: Circular Std Book;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.176px;
  color: $color-title;
}

.discover__slide-info.complete {
  display: block;
  width: 592px;
}

.discover__slide-price {
  font-family: $font-family-content;
  font-size: 16px;
  line-height: 150%; 
  color: #A59EBA;
  white-space: nowrap;
}

.discover__link-tag {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Circular Std Book;
  font-size: 16px;
  line-height:150%;
  letter-spacing: -0.176px;
  color: $color-title;
  padding: 0 16px 0 16px;
}

.discover__link-tag.completed {
  display: flex;
  justify-content: center;
  position: relative;
}

.discover__link-tag.completed span {
  padding-right: 19px;
}

.discover__link-tag.completed::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 105px;
  width: 16px;
  height: 16px;
  background: url("../images/icons/check.svg") 50% 50%/ cover, no-repeat;
}

.funded {
  width: 85px;
  height: 32px;
  border-radius: 100px;
  border: 1px;
  background: #1C1C28;
}

.open {
  width: 72px;
  height: 32px;
  border-radius: 100px;
  background:#6966FF;
}

.completed {
  width: 136px;
  height: 32px;
  border-radius: 100px;
  background: #16B57F;
}



/*===================MEDIA====================================*/
/*===================1360====================================*/
@media (max-width: 1360px) {
  .header__logo img {
    max-width: 100%;
    height: auto;
  }
  .footer__top-inner {
    flex-direction: column;
  }
  .footer__nav-list {
    flex-direction: column;
    margin-left: 475px;
    padding: 32px 0 32px 0;
    gap: 24px;
  }
  .footer__socials {
    padding-right: 90px;
  }
}

/*===================1250====================================*/

@media (max-width: 1250px) {
  .cta__card {
    max-width: 86vw;
  }
}

/*===================1100====================================*/

@media (max-width: 1100px) {
  .overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background:rgba(0, 0, 0, 0.330);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }
  .burger {
    position: fixed;
    top: 27px;
    right: 34px;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }
  .burger span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 3px;
    transition: all .5s;
  }
  .change::before {
    transform: rotate(-45deg) translate(-5.300000000000001px, 5.800000000000001px);
  }
  .change  span {
    opacity: 0;
  }
  .change::after {
    transform: rotate(45deg) translate(-5.5px, -6px);
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #393953;
    z-index: 100;
    width: 400px;
    transform: translateX(100%);
    transition: all .3s;
    font-size: 14px;
    overflow: auto;
  }
  .header__nav--open {
    transform: translateX(0%);
  } 
  .button--top {
    position: absolute;
    left: 817px;
    top: 35px;
  }
  .burger--btn {
    display: block;
    position: absolute;
    font-family: Circular Std Medium;
    left: 228px;
    top: 35px;
    line-height: 24px;
    padding: 10px 14px;
    border-radius: 7px;
    background: #6966ff;
    white-space: nowrap;
    color: #fff;
    z-index: 101;
  }
  .burger-open-style {
    position: absolute;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-left: 31px;
    gap: 32px;
  }
  .header__socials-item {
    display: flex;
    gap: 32px;
    margin-top: 49px;
    padding-right: 23px;
  }
  .burger-svg  {
    display: flex;
  }
  .header__socials-link path{
    transition: all .3s;
  }
  .header__socials-link:hover path{
    fill: $bg-button;
  }
}

/*===================1060====================================*/

@media (max-width: 1060px) {
  .header__btn-box {
    display: none;
  }
}

/*===================900====================================*/

@media (max-width: 900px) {
  .heading__subtitle-discover {
    max-width: 64.5vmax;
  }
  .footer {
    margin-top: -72px;
  }
}

/*===================840====================================*/


@media (max-width: 840px) {
  .discover__list-item {
    width: 80.8vw;
  }
  .discover__slide-info {
    max-width: 45vw;
  }
  .cta__card-title {
    font-size: 30px;
  }
}

/*===================700====================================*/

@media (max-width: 700px) {
  .heading__subtitle-discover {
    width: 635px;
  }
  .discover__link-content {
    grid-template: repeat(1, auto)/repeat(1, 1fr);
    justify-items: start;
  }
  .discover__link-text {
    padding-bottom: 16px;
  }
}


/*===================550====================================*/

@media (max-width: 550px) {
  .discover-title {
    font-size: 50px;
  }
  .heading__subtitle-discover {
    width: 520px;
    font-size: 15px;
  }
  .discover__filter-box {
    padding-bottom: 60px;
  }
  .discover__filter-btn {
    font-size: 14px;
  }
  .discover__slide-title {
    font-size: 20px;
  }
  .discover__slide-info {
    font-size: 14px;
  }
  .discover__slide-price {
    font-size: 14px;
  }
  .discover__slide-info.complete {
    width: 283px;
  }
  .cta__card-title {
    font-size: 30px;
  }
  .main__cta {
    margin-top: -30px;
  }
  .footer__nav-list {
    padding-top: 10px;
  }
}

/*===================450====================================*/

@media (max-width: 450px) {
  .discover-title {
    font-size: 40px;
  }
  .heading__subtitle-discover {
    width: 345px;
    font-size: 14px;
  }
  .discover__filter-box {
    padding-bottom: 60px;
  }
  .discover__slide-title {
    font-size: 20px;
  }
  .discover__slide-price {
    display: block;
    white-space: wrap;
    width: 170px;
  }
}

/*===================390====================================*/


@media (max-width: 390px) {
  .discover__slide-price {
    width: 146px;
  }
  .discover__list-item {
    width: 81.8vw;
  }
}

/*===================375====================================*/


@media (max-width: 375px) {
  .header__discover {
    margin-bottom: -68px;
  }
  .heading__subtitle-discover {
    padding-bottom: 5px;
  }
  .header__logo-item .burger--logo {
    display: block;
    position: absolute;
    top: 31px;
    left: 58px;
  }
  .discover-title {
    font-size: 32px;
  }
  .discover__filter-box {
    padding-bottom: 35px;
  }
  .cta__card-title {
    font-size: 24px;
    max-width: 227px;
    margin-left: 50px;
  }
  .cta__card-btn {
    font-size: 14px;
  }
  .footer__nav-list {
    margin-left: 491px;
  }
  .footer__socials {
    padding-right: 68px;
  }
  .footer__nav {
    font-size: 14px;
  }
}

/*===================360====================================*/

@media (max-width: 360px) {
  .header__logo-item .burger--logo {
    left: 69px;
  }
}


/*===================280====================================*/

@media (max-width: 280px) {
  .footer__socials {
    padding-right: 143px;
  }
  .header__logo-item .burger--logo {
    display: none;
  }
}
